<p class="mt-5 mb-3">Ask your coach anything:</p>
<form action="/answer" data-turbo="false" class="btn-group w-75">
  <input type="text" name="question" class="w-75 rounded-start border-1">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
